<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[呲牙]</key>
	<string>f_static_000</string>
	<key>[调皮]</key>
	<string>f_static_001</string>
	<key>[流汗]</key>
	<string>f_static_002</string>
	<key>[偷笑]</key>
	<string>f_static_003</string>
	<key>[再见]</key>
	<string>f_static_004</string>
	<key>[敲打]</key>
	<string>f_static_005</string>
	<key>[擦汗]</key>
	<string>f_static_006</string>
	<key>[猪头]</key>
	<string>f_static_007</string>
	<key>[玫瑰]</key>
	<string>f_static_008</string>
	<key>[流泪]</key>
	<string>f_static_009</string>
	<key>[大哭]</key>
	<string>f_static_010</string>
	<key>[嘘]</key>
	<string>f_static_011</string>
	<key>[酷]</key>
	<string>f_static_012</string>
	<key>[抓狂]</key>
	<string>f_static_013</string>
	<key>[委屈]</key>
	<string>f_static_014</string>
	<key>[便便]</key>
	<string>f_static_015</string>
	<key>[炸弹]</key>
	<string>f_static_016</string>
	<key>[菜刀]</key>
	<string>f_static_017</string>
	<key>[可爱]</key>
	<string>f_static_018</string>
	<key>[色]</key>
	<string>f_static_019</string>
	<key>[害羞]</key>
	<string>f_static_020</string>
	<key>[得意]</key>
	<string>f_static_021</string>
	<key>[吐]</key>
	<string>f_static_022</string>
	<key>[微笑]</key>
	<string>f_static_023</string>
	<key>[发怒]</key>
	<string>f_static_024</string>
	<key>[尴尬]</key>
	<string>f_static_025</string>
	<key>[惊恐]</key>
	<string>f_static_026</string>
	<key>[冷汗]</key>
	<string>f_static_027</string>
	<key>[爱心]</key>
	<string>f_static_028</string>
	<key>[示爱]</key>
	<string>f_static_029</string>
	<key>[白眼]</key>
	<string>f_static_030</string>
	<key>[傲慢]</key>
	<string>f_static_031</string>
	<key>[难过]</key>
	<string>f_static_032</string>
	<key>[惊讶]</key>
	<string>f_static_033</string>
	<key>[疑问]</key>
	<string>f_static_034</string>
	<key>[睡]</key>
	<string>f_static_035</string>
	<key>[亲亲]</key>
	<string>f_static_036</string>
	<key>[憨笑]</key>
	<string>f_static_037</string>
	<key>[爱情]</key>
	<string>f_static_038</string>
	<key>[衰]</key>
	<string>f_static_039</string>
	<key>[撇嘴]</key>
	<string>f_static_040</string>
	<key>[阴险]</key>
	<string>f_static_041</string>
	<key>[奋斗]</key>
	<string>f_static_042</string>
	<key>[发呆]</key>
	<string>f_static_043</string>
	<key>[右哼哼]</key>
	<string>f_static_044</string>
	<key>[拥抱]</key>
	<string>f_static_045</string>
	<key>[坏笑]</key>
	<string>f_static_046</string>
	<key>[飞吻]</key>
	<string>f_static_047</string>
	<key>[鄙视]</key>
	<string>f_static_048</string>
	<key>[晕]</key>
	<string>f_static_049</string>
	<key>[大兵]</key>
	<string>f_static_050</string>
	<key>[可怜]</key>
	<string>f_static_051</string>
	<key>[强]</key>
	<string>f_static_052</string>
	<key>[弱]</key>
	<string>f_static_053</string>
	<key>[握手]</key>
	<string>f_static_054</string>
	<key>[胜利]</key>
	<string>f_static_055</string>
	<key>[抱拳]</key>
	<string>f_static_056</string>
	<key>[凋谢]</key>
	<string>f_static_057</string>
	<key>[饭]</key>
	<string>f_static_058</string>
	<key>[蛋糕]</key>
	<string>f_static_059</string>
	<key>[西瓜]</key>
	<string>f_static_060</string>
	<key>[啤酒]</key>
	<string>f_static_061</string>
	<key>[飘虫]</key>
	<string>f_static_062</string>
	<key>[勾引]</key>
	<string>f_static_063</string>
	<key>[OK]</key>
	<string>f_static_064</string>
	<key>[爱你]</key>
	<string>f_static_065</string>
	<key>[咖啡]</key>
	<string>f_static_066</string>
	<key>[钱]</key>
	<string>f_static_067</string>
	<key>[月亮]</key>
	<string>f_static_068</string>
	<key>[美女]</key>
	<string>f_static_069</string>
	<key>[刀]</key>
	<string>f_static_070</string>
	<key>[发抖]</key>
	<string>f_static_071</string>
	<key>[差劲]</key>
	<string>f_static_072</string>
	<key>[拳头]</key>
	<string>f_static_073</string>
	<key>[心碎]</key>
	<string>f_static_074</string>
	<key>[太阳]</key>
	<string>f_static_075</string>
	<key>[礼物]</key>
	<string>f_static_076</string>
	<key>[足球]</key>
	<string>f_static_077</string>
	<key>[骷髅]</key>
	<string>f_static_078</string>
	<key>[挥手]</key>
	<string>f_static_079</string>
	<key>[闪电]</key>
	<string>f_static_080</string>
	<key>[饥饿]</key>
	<string>f_static_081</string>
	<key>[困]</key>
	<string>f_static_082</string>
	<key>[咒骂]</key>
	<string>f_static_083</string>
	<key>[折磨]</key>
	<string>f_static_084</string>
	<key>[抠鼻]</key>
	<string>f_static_085</string>
	<key>[鼓掌]</key>
	<string>f_static_086</string>
	<key>[糗大了]</key>
	<string>f_static_087</string>
	<key>[左哼哼]</key>
	<string>f_static_088</string>
	<key>[哈欠]</key>
	<string>f_static_089</string>
	<key>[快哭了]</key>
	<string>f_static_090</string>
	<key>[吓]</key>
	<string>f_static_091</string>
	<key>[篮球]</key>
	<string>f_static_092</string>
	<key>[乒乓球]</key>
	<string>f_static_093</string>
	<key>[NO]</key>
	<string>f_static_094</string>
	<key>[跳跳]</key>
	<string>f_static_095</string>
	<key>[怄火]</key>
	<string>f_static_096</string>
	<key>[转圈]</key>
	<string>f_static_097</string>
	<key>[磕头]</key>
	<string>f_static_098</string>
	<key>[回头]</key>
	<string>f_static_099</string>
	<key>[跳绳]</key>
	<string>f_static_100</string>
	<key>[激动]</key>
	<string>f_static_101</string>
	<key>[街舞]</key>
	<string>f_static_102</string>
	<key>[献吻]</key>
	<string>f_static_103</string>
	<key>[左太极]</key>
	<string>f_static_104</string>
	<key>[右太极]</key>
	<string>f_static_105</string>
	<key>[闭嘴]</key>
	<string>f_static_106</string>
</dict>
</plist>
